@media screen and (max-width: 1400px) {
	ul.ourteam-list-new > li {  width: 23%; margin-left: 2.66%; }
	ul.ourteam-list-new > li:nth-child(5n+1) { margin-left:2.66%; }
	ul.ourteam-list-new > li:nth-child(4n+1) { margin-left:0; }
	
	.leftcontentbox ul.ourteam-list-new > li { width: 32%; margin-left: 2%; }
	.leftcontentbox ul.ourteam-list-new > li:nth-child(4n+1) { margin-left:2%; }
	.leftcontentbox ul.ourteam-list-new > li:nth-child(3n+1) { margin-left:0; }

	.featuredyachtsnew ul > li:nth-child(1) { width: 42%;  }
    .featuredyachtsnew ul > li:nth-child(2) { width: 58%; }
	
	.maxpriceboat ul > li:nth-child(1) { width: 64%;  }
    .maxpriceboat ul > li:nth-child(2) { width: 36%; }
	
	.homeleft4 { width: 70%; float: left; }
	.homeright4 { width: 26%; float: right; }
	
	.overviewbig { display: none; }
	.overviewsmall { display: block; }
	.caption__overlay__title, .caption__overlay__content { font-size: 14px;}
}

@media screen and (max-width: 1275px) {
	.boatbuttonset1 > ul > li { min-width: 140px;}
}

@media screen and (max-width: 1225px) {
	.extra_inputbox { float: none; }	
	ul.ourteam-list.listview > li{ margin-left: 2.66%; width:23%; }
	ul.ourteam-list.listview > li:nth-child(5n+1) { margin-left:2.66%; clear: none; }
	ul.ourteam-list.listview > li:nth-child(4n+1) { margin-left:0; clear: both; }
}

@media screen and (max-width: 1160px) {
	.boatbuttonset1 > ul > li { width:49%; padding: 0; margin: 0 0 0 2%; }
	.boatbuttonset1 > ul > li:nth-child(2n+1){margin-left: 0;}
	.boatbuttonset1 > ul > li:nth-child(1),
	.boatbuttonset1 > ul > li:nth-child(2){margin-bottom: 5px;}
	
	.generalstat ul.generalstat_parent > li { width: 100%; margin: 20px 0 0 0; padding: 20px 0 0 0; border-left: 0; border-top: 2px solid #fff; }
	.generalstat ul.generalstat_parent > li:nth-child(2n+1) { border-top: 0; margin: 0; padding: 0 0 20px 0;}
}

@media screen and (max-width: 1130px) {
	ul.brandlistboximg > li{ width:25%; }
}

@media screen and (max-width: 1099px) {
	.signin-register-link{margin-right:15px;}
	.leftcontentbox .left-cell-half, .rightcontentbox2 .left-cell-half{float:left; width:100%; margin-bottom: 20px; }
	.leftcontentbox .right-cell-half, .rightcontentbox2 .right-cell-half{float:left; width:100%;}
	
	.homesection-bg2 { background-image: none; text-align:center; }
	.homesection-bg2 h2 { text-align: center; }
	.homesection-bg2 .pagesection { padding-left: 0; }
	
	.boatslideshow-main.design_2 .slide-boatimage { width: 54%; }
	.boatslideshow-main.design_2 .slide-boatinfo { width: 42%; }
}

@media screen and (max-width: 1045px) {
	ul.locationinner li:nth-child(2){ display: block; width: 100%; margin-left: 0; }
	ul.locationinner li:nth-child(3){ display: block; width: 100%; margin-left: 0; margin-top: 12px; }
	
	ul.boxcol4 > li {  width: 23%; margin-left: 2.66%; }
	ul.boxcol4 > li:nth-child(5n+1) { margin-left:2.66%; }
	ul.boxcol4 > li:nth-child(4n+1) { margin-left:0; }

	.fourcolumnlist ul > li{ width:32%; margin-left:2%; }
	.fourcolumnlist ul > li:nth-child(4n+1) { margin-left:2%; }
	.fourcolumnlist ul > li:nth-child(3n+1) { margin-left:0; }
		
	
	.featuredyachtsnew ul li .info { font-size: 26px; }
	.featuredyachtsnew ul li .info2 { margin: 15px 0 0 0; font-size: 20px; }
	.featuredyachtsnew ul li .price { margin: 15px 0 0 0; font-size: 26px; }
	.featuredyachtsnew ul li .detailsbutton { margin-top: 20px; }
	.featuredyachtsnew ul li a.button { padding: 6px 16px; font-size: 18px; }
	
	.boatbuttonset3 > ul > li:nth-child(1){ width: 180px; margin-right: 10px;}
	.boatbuttonset3 > ul > li:nth-child(2){ width: -webkit-calc(100% - 190px); width: -moz-calc(100% - 190px); width:calc(100% - 190px);}
	
	.similaryacht > ul > li:nth-child(1) { width: 100%; margin: 0; padding: 0; }
	.similaryacht > ul > li:nth-child(2) { width: 100%; margin: 20px 0 0 0;}
}

@media screen and (max-width: 992px) {
	.ssform input[type=text] {
		width: 100% 
	}

	.ssform .row {
		display: block
	}
	
	.ssform  .col-30 {
		width: 100%;
		padding-right: 0
	}
	
	.ssform  .col-30:nth-child(3) {
		width: 100%;
		padding-right: 0
	}
	
	.ssform .mb-3 {
		margin-bottom: 10px;
		margin-top: 30px
	}
	
	.ssform .md-none {
		display: none
	}
}

@media screen and (max-width: 980px) {

	.main .leftcontentbox, .main .rightcontentbox2{ width: 63%; }
	.main .rightcontentbox, .main .leftcontentbox2{ width: 35%; }
	
	.homecol .leftcol{ float:left; width:55%; }
	.homecol .rightcol{ float:right; width:40%; }
	
    ul.cat-list{ margin:0 0 0 -12px; list-style:none; }
    ul.cat-list li{ margin:0 0 25px 12px; }
	
	ul.gal-list{ margin:0 0 0 -12px; list-style:none; }
    ul.gal-list li{ margin:0 0 25px 12px; }
	
	.editordivrow .edimgleft {float: left; width: 35%; }
	.editordivrow .edcontentright {float: right; width: 60%; }
	
	.editordivrow .edimgright {float: right; width: 35%; }
	.editordivrow .edcontentleft {float: left; width: 60%; }
	
	section.videocolumn h2 { font-size: 22px; }
	
	ul.ourteam-list.listview > li{ margin-left: 2%; width:32%; }
	ul.ourteam-list.listview > li:nth-child(5n+1), 
	ul.ourteam-list.listview > li:nth-child(4n+1) { margin-left:2%; clear: none; }
	ul.ourteam-list.listview > li:nth-child(3n+1) { margin-left:0; clear: both; }
	
	.dashboard-menucol { width: 100%; padding: 0; }
	.dashboard-contentcol { width: 100%; padding: 20px; }
	
	.dashboard-menucol .dashboard-show-menu { display: block; }
	ul.menucol-parent { display: none; margin-bottom: 20px; }
	
	ul.footercol > li:nth-child(1) { width: 50%; padding-right: 0; }
	ul.footercol > li:nth-child(2) { width: 50%; padding-left:50px; padding-right: 0; }
	ul.footercol > li:nth-child(3) { width: 50%; padding-left:0px;  padding-right: 0; margin-top: 20px; }
	ul.footercol > li:nth-child(4) { width: 50%; padding-left:50px; margin-top: 20px; }
	
	.button.lg,
	.button.large{margin-left: 0;margin-right: 0;}
}

@media screen and (max-width: 950px) {		
	.slidersearch .container { width: 100%; display: none; }
	.slidersearch_responsive { display: block; }
	
	ul.makebutton li{ width: 100%; margin: 10px 0 0 0; }
	
	ul.ourteam-list-new > li {  width: 48%; margin-left: 4%; }
	ul.ourteam-list-new > li:nth-child(4n+1), 
	ul.ourteam-list-new > li:nth-child(3n+1) { margin-left:4%; }
	ul.ourteam-list-new > li:nth-child(2n+1) { margin-left:0; }
	
	.leftcontentbox ul.ourteam-list-new > li { width: 48%; margin-left: 4%; }
	.leftcontentbox ul.ourteam-list-new > li:nth-child(4n+1),
	.leftcontentbox ul.ourteam-list-new > li:nth-child(3n+1){ margin-left:4%; }
	.leftcontentbox ul.ourteam-list-new > li:nth-child(2n+1) { margin-left:0; }
	
	.section.sectionbg.sectionbgtop{background-color: #fff;padding: 0;}
	.brokeremailphonedesktop{display:none;}
	.brokeremailphonemobile{display:block;}
	.social.righticoncol{padding-top: 0;}
	
	ul.brand-name-list > li{ width:23%; margin:0 0 5px 2.66%; padding:0; }
	ul.brand-name-list > li:nth-child(8n+1), 
	ul.brand-name-list > li:nth-child(4n+1) { margin-left:0; }
}

@media screen and (max-width: 918px) {
	.header-bottom-inner .res .spinnersmall { display: block; padding-left: 0px; }
	.header-bottom-inner .res .sorttool { margin: 0; border-left: none; display: block; padding: 10px 0 0 0; }
	ul.stephead li {  margin:0 0 0 50px; }	
	
	.maxpriceboat h2 { font-size: 30px; }
	.maxpriceboat h4 { font-size: 20px;}
	
	.maxpriceboat ul > li:nth-child(1) { width: 58%; }
    .maxpriceboat ul > li:nth-child(2) { width: 42%; }
	
	.maxpriceboat ul li .info { font-size: 26px; }
	.maxpriceboat ul li .info2 { margin: 15px 0 0 0; font-size: 20px; }
	.maxpriceboat ul li .price { margin: 15px 0 0 0; font-size: 26px; }
	.maxpriceboat ul li .detailsbutton { margin-top: 20px; }
	.maxpriceboat ul li a.button { padding: 6px 16px; font-size: 18px; }
	
	ul.testimonialslider li .posterimage { margin-top: 50px; }
	
	ul.boat_model_content > li:nth-child(1) { width: 100%; line-height: 0; }
	ul.boat_model_content > li:nth-child(2) { width: 100%; padding: 20px 0; }
	ul.boat_model_content > li:nth-child(3) { width: 100%; }
	
	.homesection3 ul li{ margin:0 0 20px 4%; width:48%; }
	.homesection3 ul li:nth-child(3n+1) { margin-left:4%; }
	.homesection3 ul li:nth-child(2n+1) { margin-left:0; }

	.threecolumnlist ul > li{ width:48%; margin-left:4%; }
	.threecolumnlist ul > li:nth-child(3n+1) { margin-left:4%; }
	.threecolumnlist ul > li:nth-child(2n+1) { margin-left:0; }
	
	.fourcolumnlist ul > li{ width:48%; margin-left:4%; }
	.fourcolumnlist ul > li:nth-child(4n+1), 
	.fourcolumnlist ul > li:nth-child(3n+1) { margin-left:4%; }
	.fourcolumnlist ul > li:nth-child(2n+1) { margin-left:0; }	
	
	ul.tophomebox > li{ width:48%; margin-left:4%; }
	ul.tophomebox > li:nth-child(4n+1) { margin-left:4%; }
	ul.tophomebox > li:nth-child(2n+1) { margin-left:0; }
	
	ul.tophomeboxbrand > li{ width:48%; margin-left:4%; }
	ul.tophomeboxbrand > li:nth-child(4n+1) { margin-left:4%; }
	ul.tophomeboxbrand > li:nth-child(2n+1) { margin-left:0; }	
	
	ul.latestnews li.full .blog_template2{ display:block;}
	.blog_template2 .blogimage_template2 { float: none; width: 100%; }
	.blog_template2 .blogcontet_template2 { float: none; width: 100%; }
	
	.homesection3 > ul > li .stylecontent {display:block;}
	.stylecontent .stylecontet_template1 { float: none; width: 100%; }
	.stylecontent .styleimage_template1 { float: none; width: 100%; }
	
	.product-detail .left-cell2{float:none; width:100%;margin-bottom: 20px;}
	.product-detail .center-cell2{float:left; width:66%; padding-left: 0;}
	.product-detail .right-cell2{float:right; width:30%;}
}

@media screen and (max-width: 865px) {
	.container { width: 88%; }
	.blogimg{ width:30%; }
	.blogtext{ width:65%; }	
	
	.product dt{width:33%;}
	.product dd{ width:57%; }
	
	.left-cell{width:35%;}
    .right-cell{width:60%;}	
	
	ul.product-list > li{ margin-left: 4%; width:48%; }
	ul.product-list > li:nth-child(3n+1) { margin-left:4%; }
	ul.product-list > li:nth-child(2n+1) { margin-left:0; }
	
	ul.formcol li { width: 32%; margin-left: 2%; }
	ul.formcol li:nth-child(4n+1) { margin-left:2%; clear: none; }
	ul.formcol li:nth-child(3n+1) { margin-left:0; clear: both; }
	
	.sl_content_1b .sl_content_1b_left { float: none; width: 100%; }
	.sl_content_1b .sl_content_1b_right { float: none; width: 100%; }
	
	.boatslideshow-main.design_2 .slide-boatimage { width: 100%; float: none; margin-bottom: 20px; }
	.boatslideshow-main.design_2 .slide-boatinfo { width: 100%; float: none; margin-bottom: 50px; }
	.customdivrow.companylogo img { margin: 0 auto; }
	.boatslideshow-main .pager{ left: 0; right: 0; bottom: 20px; margin: 0 auto; z-index: 9999; width: 80%; text-align:center; }

	.worldwidesearch ul > li { width: 32%; margin-left: 2%; }
	.worldwidesearch ul > li:nth-child(5n+1) { margin-left: 2%; }
	.worldwidesearch ul > li:nth-child(3n+1) { margin-left: 0; }
}

@media screen and (max-width: 820px) {
	.boatbuttonset3 > ul > li:nth-child(1){ width: 100%; margin:0 0 10px 0;}
	.boatbuttonset3 > ul > li:nth-child(2){ width:100%;}
}

@media screen and (max-width: 800px) {
	.tel { cursor: pointer; }	
	.text_area .leftimage {  width: 30%; }
	.text_area .rightcontent {  width: 60%; padding-top: 20px; }
	
	.topcol .cols{ width:47%;}
	.topcol .cols.c2 { float:right; }
	.topcol .cols:first-child{ padding-left:0;}
	.topcol .cols.c3 { width: 100%; margin:0; }
	
	.twobuttons .button { font-size: 20px;}
	
	.homeleft, .homeright, .homeleft2, .homeright2, .homeleft3, .homeright3, .homeleft4, .homeright4, .homeleft5, .homeright5 { width: 100%; float: none; display: block; }
	.homeleft, .homeleft2 { margin-bottom: 20px; }
	.homeright2 { /*max-width: 400px;*/ margin: 0 auto; }
	
	div.boat-news .homeleft, div.boat-news .homeright { width: 100%; margin-bottom: 0; padding-bottom: 20px;}
	div.boat-news .homeleft { margin-bottom: 20px; }
	
	.featured-yachts ul.featuredboat li{ margin:0 0 30px 4%; padding:0; background:none; width:48%; }
	.featured-yachts ul.featuredboat li:nth-child(4n+1) { margin-left: 4%; }
	.featured-yachts ul.featuredboat li:nth-child(2n+1) { margin-left: 0; }
	
	.homesection2 ul.latestboat li{ margin:0 0 30px 4%; padding:0; background:none; width:48%; }
	.homesection2 ul.latestboat li:nth-child(4n+1) { margin-left: 4%; }
	.homesection2 ul.latestboat li:nth-child(2n+1) { margin-left: 0; }

	.boatandyachtssearch ul.boatandyachtssearchcol > li { border-top: 1px solid #cecece; border-left: 0; }
	.boatandyachtssearch ul.boatandyachtssearchcol > li:nth-child(1) { border-top: 0; width: 100%; padding-right: 0; margin-bottom: 20px; }
	.boatandyachtssearch ul.boatandyachtssearchcol > li:nth-child(2) { width: 100%; padding-left: 0; padding-top: 20px; }
	
	.instock-yachts ul.instockboat li{ margin:0 0 30px 4%; padding:0; background:none; width:48%; }
	.instock-yachts ul.instockboat li:nth-child(4n+1) { margin-left: 4%; }
	.instock-yachts ul.instockboat li:nth-child(2n+1) { margin-left: 0; }	
	
	ul.cat-list, ul.gal-list{ margin:0 auto; margin-left: -12px; list-style:none; text-align:center; }
    ul.cat-list li, ul.gal-list li{ float: none; display:inline-block; margin:0 0 25px 12px; }	
	.categorybutton { text-align: center; }    
	
	/*boat list*/
	ul.product-list.list-view .product .meta .clear{display:block;}
   
    .product-detail .left-cell{width:65%;}
    .product-detail .right-cell{width:30%;}
	
	ul.product-description-nav{display:none;}
    .product-description{padding:0; background:none; border:none;}
    .description-tab{display:block;}
    .description-tab h3.title{display:block; color: #4c4c4c; font-size:26px;  border-bottom:solid 1px #dcdcdc; padding-bottom:10px; cursor:pointer; background:url(../images/plus.png) right 6px no-repeat; padding-right:40px;}
    .description-tab h3.title.opened { background:url(../images/minus.png) right 6px no-repeat; }
	.description-tab .con{display:none;}
    .headsearch { width: 30%; margin-top: 4%; }

	.profile-main .mainleft { width: 25%; }
	.profile-main .mainright { width: 70%; }
	.profile-main .mainright .left { width: 100%; }
	.profile-main .mainright .right { float: left; width: 100%; }
	
	ul.offerboatlist li { width: 48%; margin-left: 4%; margin-top: 20px; }
	ul.offerboatlist li:nth-child(4n+1) { margin-left:4%; }
	ul.offerboatlist li:nth-child(2n+1) { margin-left:0; }	

	.homedealerholder .container { width: 90%; }
	
	ul.imagedisplay.gridview li { width: 32%; margin: 2px 0 2px 2%; border: 0px; }
	ul.imagedisplay.gridview li:nth-child(4n+1) { margin-left:2%; }
	ul.imagedisplay.gridview li:nth-child(3n+1) { margin-left:0; }
	
	.mapholder { width: 100%; }
	
	ul.locationgallery li { margin: 0 0 5px 2%; width: 49%; }
	ul.locationgallery li:nth-child(4n+1) { margin-left:2%; }
	ul.locationgallery li:nth-child(2n+1) { margin-left:0; }	
	
	.featuredyachtsnew ul > li:nth-child(1) { width: 100%; }
    .featuredyachtsnew ul > li:nth-child(2) { width: 100%; }
	.featuredboatinfo { position: relative; width: 100%; padding: 20px 10px;
		top: auto;
		left: auto;  

		-webkit-transform: none;
		-ms-transform: none;  
		transform: none;
	}
	
	.homesectioninsta ul li{ width:33.3333%; }
}

@media screen and (max-width: 768px) {
	.autoheight { }
	.autocontent { }

	.homesectionnewsletter .homesectionnewsletter-left { float: none; width: 100%; margin-bottom: 50px; }
	.homesectionnewsletter .homesectionnewsletter-right { float: none; width: 100%; }
	
	.maxpriceboat ul > li:nth-child(1) { width: 100%; }
    .maxpriceboat ul > li:nth-child(2) { width: 100%; }
	.maxpriceboatinfo { position: relative; width: 100%; padding: 20px 30px;
		top: auto;
		left: auto;  

		-webkit-transform: none;
		-ms-transform: none;  
		transform: none;
	}
	
	ul.boxes li{ width:100%;margin-left:0; border-bottom:1px solid #d3d3d3; padding-bottom:20px; }	
	
	ul.product-list.list-view .product .thumb{width:100%; margin-bottom:15px;}
	ul.product-list.list-view .product .meta{margin-left:0;}

    .profile-main {margin-right: 2%; width: 98%; }

    .divrow3 .uimg { float: left; width: 10%; padding: 1% 1%; margin: 0;}
    .divrow3 .txtcon { float: left; width: 60%; padding: 1% 1%;}
    .divrow3 .options { float: right; width: 18%; padding: 1% 1%; text-align: right;}
	
	.divrow4 .uimg { float: left; width: 20%; padding: 1% 1%; margin: 0;}
    .divrow4 .txtcon { float: left; width: 50%; padding: 1% 1%;}
    .divrow4 .options { float: right; width: 18%; padding: 1% 1%; text-align: right;}	
	
	ul.stephead li {  margin:0 0 0 40px; font-size: 15px; }
	
	.offeringnewboats h2 { font-size:22px; }
	
	.responsivetableholder { overflow-y: scroll; }
	.responsivetable { min-width: 767px; }
	
	ul.boxcol4 > li {  width: 32%; margin-left: 2%; }
	ul.boxcol4 > li:nth-child(5n+1),
	ul.boxcol4 > li:nth-child(4n+1) { margin-left:2%; }
	ul.boxcol4 > li:nth-child(3n+1) { margin-left:0; }
	
	.testimonial-dealer > ul > li { width:100%; }
	
	.pagesection ul.testimonialslider li .posterimagehome { float: none; width:100%; margin-bottom: 20px; border: 1px solid #cecece; }
	.pagesection ul.testimonialslider li .postercontenthome { float: none; width:100%; }
	
	p.h1 {
		font-size: 30px;
	}
	
	.rowflex {
		display: block;
	}
	
	.col-50 {
		width: 100%;
	}
	
	#conversation_nicolas {
		text-align:center
	}
	
	#conversation_nicolas .pr-5{
		padding-right: 0
	}
	
	.service-headingbg:after {
		background: #eaeaea;
	}

	.service-section {
		display:block;
	}
	
	.service-section .ssleft{
		width: 100%;
		padding-right: 0;
		text-align: center	
	}
	
	.service-section .ssright{
		width: 100%;
		text-align: center
	}	
	
	.service-headingbg .ssleft{
		min-height: 1px
	}
	
	.service-headingbg .ssright{
		padding-right: 0;
	}
	
	.fccobtact-left {
		width: 100%;
		padding-right: 0
	}
	
	.fccobtact-right {
		width: 100%;
	}
	
	#contact-content .col-50.pr-3 {
		padding-right: 0
	}
}

@media screen and (max-width: 765px) {
	.topsocial { margin: 0 0 12px 0; display: block; vertical-align: middle; }
	
	.homecol .leftcol{ float:left; width:100%; margin-bottom: 20px; }
	.homecol .rightcol{ float:left; width:100%; }
	.topphonetolfree, .topphone, .topemail {}
	.topphonetolfree, .topphone { }
	
	ul.logo-list li{ width: 18%; }
	
	.header-bottom-inner .leftpart { float: left; width: 100%; padding-bottom:6px; }
	.header-bottom-inner .rightpart { float: left; width: 100%; padding-bottom:6px; }
	.header-bottom-inner .rightpart .res { text-align: center; }
	
	.pagesection ul.testimonialslider li { margin: 20px 0 0 0; padding: 15px; /*border: 1px solid #cacaca;*/ width: 100%; }
	.pagesection ul.testimonialslider li:nth-child(2n+1) { margin-top:0; }
	
	.aboutsection1 ul > li { width: 50%; border-top: 1px solid #b4b4b4; margin: 0; padding: 25px 30px; }
	.aboutsection1 ul > li:nth-child(2n+1) { border-left: 0; }
	.aboutsection1 ul > li:nth-child(1),
	.aboutsection1 ul > li:nth-child(2) { border-top: 0px; }
	
	ul.product-list.homefeatured li{ width:47.5%; }
	.button.buttonright { margin-right: 0; margin-top: 5px; width: 100%; }
}

@media screen and (max-width: 725px) {	
	.left-cell-half{float:left; width:100%; margin-bottom: 20px; }
	.right-cell-half{float:left; width:100%;}
	
	.main .leftcontentbox, .main .leftcontentbox2{ float:left; width:100%; }
	.main .rightcontentbox, .main .rightcontentbox2{ float:left; width:100%;}	
	ul.stephead li {  margin:0 0 0 30px; }		
	
	.text_area .leftimage {  width: 38%; }
	.text_area .rightcontent {  width: 54%; padding-top: 20px; }
	
	.blogimg{ width:32%; }
	.blogtext{ width:60%; }
    
    .left-cell{width:100%; margin-bottom:20px;}
    .right-cell{width:100%;}
    .leftprice { display: block; }
	.product-detail-header{padding-bottom:0px;}
	.topprice h3 { display: none; }
	.topprice .left{float:left; text-align: right; width:49%; color:#00afef; font:normal 24px/34px Arial, Helvetica, sans-serif;}
	.topprice .right{float:left; text-align: left; width:64px !important; padding-left: 20px;}

    /*boat list*/
	ul.product-list.homeview .product .custom_label_div { width: 33%; position: absolute; left: 0%; top: 0%; }
	/*boat list end*/

    .product-detail .left-cell{width:100%; margin-bottom:20px;}
    .product-detail .right-cell{width:100%;}
	
	.model-detail .left-cell{width:100%; margin-bottom:20px;}
    .model-detail .right-cell{width:100%;}
	
	.product-detail .center-cell2{width:100%; margin-bottom:20px;}
    .product-detail .right-cell2{width:100%;}

    .broker-wrap{text-align:center;}
    .product-detail .right-cell .section .broker .thumb{float:none; margin:0 auto;}
   
    .left-cell{}
    h3.ad-search{background:#f6f6f6; border:solid 1px #d9d9d9; padding:10px 20px; display:block; text-align:center; cursor:pointer;}
    h3.ad-search span{background:url(../images/menu2.png) right center no-repeat; display:block;}
    .ad-search-con{display:none;}

    .login-page .left-side{width:98%; float:left;}
    .login-page .right-side{padding-top: 10px; width:98%; float:right;}
    .login-page ul.form .forgot{width:100%;}
    .login-page .space1 { padding-top: 5px; }

    .dashboard-main { width: 100%; }
    .dashboard-main .left-side{float:left; width:100%;}
    .dashboard-main .right-side{float:left; width:100%; margin-top: 3%; }
	
	.profile-main .mainleft { width: 33%; }
	.profile-main .mainright { width: 62%; }
	
	.pagecolumnmain .left-side, .pagecolumnmain .left-side-eq{width:100%; float: left; padding-bottom: 20px; }
	.pagecolumnmain .right-side, .pagecolumnmain .right-side2, .pagecolumnmain .right-side-eq{width:100%; float:left; margin-right: 0;}
	
	.three-cols .three-cols-box:nth-child(2) { width: 100%; float: none; display: block; margin-bottom: 20px; }
	.three-cols .three-cols-box:nth-child(3) { width: 100%; float: none; display: block; text-align: center; }
	.three-cols .three-cols-box:nth-child(3) img { display: inline-block; margin: 0; }
	.three-cols .three-cols-box:nth-child(3) img:first-child { margin-right: 10px; }
	
	ul.ourteam-list.listview > li{ margin-left: 4%; width:48%; }
	ul.ourteam-list.listview > li:nth-child(5n+1), 
	ul.ourteam-list.listview > li:nth-child(4n+1), 
	ul.ourteam-list.listview > li:nth-child(3n+1) { margin-left:4%; clear: none; }
	ul.ourteam-list.listview > li:nth-child(2n+1) { margin-left:0; clear: both; }
	
	ul.catmake-list-top > li{ display: block; width:100%; }
	ul.catmake-list-top > li:nth-child(1) { padding-right: 0; }
	ul.catmake-list-top > li:nth-child(2) { padding-left: 0; margin-top: 20px; }
	ul.catmake-list-top > li:nth-child(2):before {
		content: '';
		border-left: 0;
		position: absolute;
		height: 0;
		left: 0;
		top: 0;
	}
	
	.mobilestatic .mobile-search-container{
		max-width:100%;
	}
}

@media screen and (max-width: 685px) {
	h1 {font-size: 30px;}
	h2 {font-size: 26px;}
	h3 {font-size: 24px;}
	
	.blank_top { height: 0; }
	.header{ height: auto; position: relative; top: auto; left: auto; right: auto; }
	/*.header .container{ margin-bottom: 10px; }*/
	
	/*.header_left{float:none;text-align: center; margin:0 auto; clear:both}
	.header_right{ width:100%; text-align: center; float:none; margin-top:0}*/
	
	.headerrightcon{text-align: center; margin-right: 0;}
	.topsocial { margin: 0 10px 0 0; display: inline-block; }
	
	.boatandyachtssearch h2 { font-size: 30px; }
	
	ul.boatgrouplist li{float:none; margin:10px 0 0 0; width:100%; }
	ul.boatgrouplist li:nth-child(3n+1) { margin-left:0; clear: none; }
	
	ul.locationcms li { margin: 15px 0 0 0; width: 100%; }
	ul.locationcms li:nth-child(1) { margin-top:0; }
	
	ul.buy-sell-list{ background:url(../images/arrow_buy-sell2.png) no-repeat center center;}
	ul.buy-sell-list li{ display:block; width:100%;}
	ul.buy-sell-list li:nth-child(1){ padding:20px 0 65px 0;}
	ul.buy-sell-list li:nth-child(2){ padding:55px 0 20px 0;}
	
	ul.brand-name-list > li{ width:32%; margin:0 0 5px 2%; padding:0; }
	ul.brand-name-list > li:nth-child(8n+1), 
	ul.brand-name-list > li:nth-child(4n+1) { margin-left:2%; }
	ul.brand-name-list > li:nth-child(3n+1) { margin-left:0; }	
	
	.boatslideshow-main.design_1 .slide-boatimage { float: none; width: 100%; line-height: 0; }
	.boatslideshow-main.design_1 .slide-boatthumb { float: none; width: 100%; margin-top: 10px; }
	.sl_content_1 ul li{ width: 23%; margin-left: 2.66%; margin-top: 0; }
	.sl_content_1 ul li:nth-child(2n+1) { margin-left: 2.66%; clear: none; }
	.sl_content_1 ul li:nth-child(4n+1) { margin-left:0; clear: both; }
	
	.lefticoncol {float:none; width: 100%; text-align:center; }
	.righticoncol {float:none;  width: 100%;text-align:center;}
	.social ul{ float: none; }
	
	.cols2,
	.cols3{
		width:100%;
		position:relative
	}
	
	.cols2:nth-child(2n+1){clear:left; margin-right: 0;}
	.cols2:nth-child(2n+2){clear:right; margin-left: 0;}
	
	.cols_search{ width: 100%;position:relative}
	.cols_search_after{width: 100%; position:relative; padding-left: 0;}
	
	.cols_menu{ width: 100%;position:relative}
	.cols_menu_after{width: 100%; position:relative; padding-left: 0;}	
}

@media screen and (max-width: 660px) {
	ul.ourteam-list-new > li {  width: 100%; margin-left: 0; }
	ul.ourteam-list-new > li:nth-child(4n+1), 
	ul.ourteam-list-new > li:nth-child(3n+1) { margin-left:0; }
	ul.ourteam-list-new > li:nth-child(2n+1) { margin-left:0; }
	
	.leftcontentbox ul.ourteam-list-new > li { width: 100%; margin-left: 0; }
	.leftcontentbox ul.ourteam-list-new > li:nth-child(4n+1),
	.leftcontentbox ul.ourteam-list-new > li:nth-child(3n+1){ margin-left:0; }
	.leftcontentbox ul.ourteam-list-new > li:nth-child(2n+1) { margin-left:0; }
}

@media screen and (max-width: 640px) {
	/*.main-content .leftcol{ width:100%;}
	.main-content .rightcol{ width:100%;}*/
    .suggestsearch { width: 40%; height: 150px; }	
	
	ul.testimonialslider li .posterimage { width: 100%; margin-top: 1px; display: block; text-align:center; }
	ul.testimonialslider li .postercontent { width: 100%; display: block; }
	
	.homesection3 .homesection3-left { float: none; width: 100%; margin-bottom: 10px; }
	.homesection3 .homesection3-right { float: none; width: 100%;  }

	ul.stephead li {  margin:0 0 0 20px; }
	
	ul.generalstat_child li{ margin:25px 0 0 0; padding:65px 10px 0 10px; list-style:none; display:inline-block; width:100%; border-left:0; vertical-align:top;}
	ul.generalstat_child li:nth-child(1){ margin-top: 0; }
	
	.model-button .button {  font-size: 20px; }
	
	.homesection3 .homesection3-left { float: none; width: 100%; margin-bottom: 10px; }
	.homesection3 .homesection3-right { float: none; width: 100%;  }
	
	/*
	.homesection2 .boxleft { float: none; width: 100%; text-align: center;}
	.homesection2 .boxright { float: none; width: 100%; text-align: center;}
	.homesection2 .boxleft ul.tophomebox > li{ width:100%; margin-left: 0; }
	.homesection2 .boxright ul.tophomebox > li{ width:100%; margin-left: 0; }
	ul.tophomebox > li .boxtext { min-height: auto; }
	*/
	
	ul.brandlistboximg > li{ width:50%; }
	
	.footerlast ul.footerbox > li{ width: 100%; margin-top: 8px; }
	.footerlast ul.footerbox > li:nth-child(1) { text-align: center; margin-top: 0; }
	.footerlast ul.footerbox > li:nth-child(2) { text-align: center; }
	.footerlast ul.footerbox > li:nth-child(3) { text-align: center;}
}

@media screen and (max-width: 600px) {
	.withicon { margin-bottom: 30px; font-size: 24px; }
	.withicon strong { padding: 3px 10px 3px 5%; }
	
	.worldwidesearch ul > li { width: 49%; margin-left: 2%; }
	.worldwidesearch ul > li:nth-child(5n+1),
	.worldwidesearch ul > li:nth-child(3n+1){ margin-left: 2%; }
	.worldwidesearch ul > li:nth-child(2n+1) { margin-left: 0; }
	.wws_submit .button1 { position: relative; bottom: auto;}
	
	.leftfloatdiv, .rightfloatdiv{ float: none; display: block; width: 100%; margin: 0 0 8px 0;}
	.blog-box .leftfloatdiv, .blog-box .rightfloatdiv { width: 100%; }
	.editordivrow .leftfloatdiv, .editordivrow .rightfloatdiv { width: 100%; }
	
	.editordivrow .edimgleft {float: left; width: 100%; margin-bottom: 12px; }
	.editordivrow .edcontentright {float: right; width: 100%; }
	
	.editordivrow .edimgright {float: right; width: 100%; margin-bottom: 12px; }
	.editordivrow .edcontentleft {float: left; width: 100%; margin-bottom: 12px; }
	
	.editordivrow .edimgleft.testimonialimage img, .editordivrow .edimgright.testimonialimage img { margin-top: 0; }
	
	.blog-box { margin-top: 10px;}
	.blogimg{ float: left; width:100%; margin-bottom: 5px; }
	.blogtext{ float: left; width:100%; }
	
	.slidersearch .container { width: 300px; margin: 0 auto; }
	
	ul.locationname li { width: 28%; }
	ul.locationname li:nth-child(even) { float: left; }
	
	.blogimg{ width:35%; }
	.blogtext{ width:56%; }
	ul.stephead li {  margin:0 0 0 20px; font-size: 13px; }
	
	ul.formcol li { width: 49%; margin-left: 2%; }
	ul.formcol li:nth-child(4n+1), ul.formcol li:nth-child(3n+1) { margin-left:2%; clear: none; }
	ul.formcol li:nth-child(2n+1) { margin-left:0; clear: both; }
	
	ul.boxcol4 > li {  width: 49%; margin-left: 2%; }
	ul.boxcol4 > li:nth-child(3n+1),
	ul.boxcol4 > li:nth-child(2n+1) { margin-left:0; }
	
	ul.ourservices > li { width: 100%; display: block; margin: 0; }
	
	.specifications-row .devider{background: none;}
	.specifications-row .left-side{width:100%; float:none; margin-bottom: 20px; }
	.specifications-row .right-side{width:100%; float:none;}
	
	.boatbuttonset1 > ul > li { width:100%; padding: 0; margin: 5px 0 0 0; }
	.boatbuttonset1 > ul > li:nth-child(1){margin-top: 0;}
	
	.boatbuttonset2 > ul > li { width:100%; padding: 0; margin: 5px 0 0 0; }
	.boatbuttonset2 > ul > li:nth-child(1){margin-top: 0;}
	.boatbuttonset1 > ul > li:nth-child(1), 
	.boatbuttonset1 > ul > li:nth-child(2){margin-bottom: 0;}
	
	.boatbuttonset1 .social{text-align: center; margin: 6px 0;}
	
	ul.footercol > li:nth-child(1) { width: 100%; }
	ul.footercol > li:nth-child(2) { width: 100%; padding:0px; margin-top: 20px; }
	ul.footercol > li:nth-child(3) { width: 100%; padding:0px; margin-top: 20px; }
	ul.footercol > li:nth-child(4) { width: 100%; padding:0px; margin-top: 20px; }
	
	ul.latestnews > li{ width:100%; margin-left: 0; }
	ul.latestnews > li:nth-child(2n+1) { margin-left:0; }
}

@media screen and (max-width: 560px) {
	
    .divrow3 .uimg { float: left; width: 10%; padding: 1% 1%; margin: 0;}
    .divrow3 .txtcon { float: left; width: 55%; padding: 1% 1%;}
    .divrow3 .options { float: right; width: 23%; padding: 1% 1%; text-align: right;}
	
	.divrow4 .uimg { float: left; width: 20%; padding: 1% 1%; margin: 0;}
    .divrow4 .txtcon { float: left; width: 45%; padding: 1% 1%;}
    .divrow4 .options { float: right; width: 23%; padding: 1% 1%; text-align: right;}
	
	.featured-yachts ul.featuredboat li{float:none; margin-left:0; width:100%; }
	.featured-yachts ul.featuredboat li:nth-child(2n+1) { margin-left:0; }
	
	.boatandyachtssearch ul.featuredboat li{float:none; margin-left:0; width:100%; }
	.boatandyachtssearch ul.featuredboat li:nth-child(2n+1) { margin-left:0; }
	
	.instock-yachts ul.instockboat li{float:none; margin-left:0; width:100%; }
	.instock-yachts ul.instockboat li:nth-child(2n+1) { margin-left:0; }
	
	.homesection2 ul.latestboat li{float:none; margin-left:0; width:100%; }
	.homesection2 ul.latestboat li:nth-child(2n+1) { margin-left:0; }
	
	ul.newboats li { width: 100%; margin-left: 0%; }
	ul.newboats li:nth-child(2n+1) { margin-left:0; clear: both; }
	
	ul.tophomebox > li{ width:100%; margin-left: 0; }
	ul.tophomebox > li:nth-child(2n+1) { margin-left:0; }
	
	ul.catmake-list > li{  width:32%; margin:0 0 8px 2%;  }
	ul.catmake-list > li:nth-child(4n+1) { margin-left:2%; }
	ul.catmake-list > li:nth-child(3n+1) { margin-left:0; }
	
	.twobuttons ul li{ display:block; margin:10px 0 0 0; width:100%; }
	.twobuttons ul li:nth-child(1) { margin-top:0; }
	.twobuttons ul li:nth-child(2) { margin-top:10px; }			
	
	ul.tophomeboxbrand > li{ width:100%; margin-left: 0; }
	ul.tophomeboxbrand > li:nth-child(2n+1) { margin-left:0; }
		
	.twocolumnlist ul > li { display: block; width: 100%; margin: 0 0 20px 0; }
	.twocolumnlist ul > li:nth-child(2n+1){ margin-left: 0; }
	
	.threecolumnlist ul > li { display: block; width: 100%; margin: 0 0 20px 0; }
	.threecolumnlist ul > li:nth-child(3n+1),
	.threecolumnlist ul > li:nth-child(2n+1){ margin-left: 0; }
	
	.fourcolumnlist ul > li{ width:100%; margin-left: 0; }
	.fourcolumnlist ul > li:nth-child(4n+1), 
	.fourcolumnlist ul > li:nth-child(3n+1),
	.fourcolumnlist ul > li:nth-child(2n+1) { margin-left:0; }
	
	.homesection3 ul li{ margin-left:0; width:100%; }
	.homesection3 ul li:nth-child(3n+1) { margin-left:0; }
	
	ul.footerlocationlist > li { width: 100%; margin: 0 0 20px 0; }
	ul.footerlocationlist > li:nth-child(3n+1){ margin-left:0; clear: both; }	
}

@media screen and (max-width: 531px) {
	ul.logo-list li{ width: 31%; }
	
	ul.brand-name-list > li{ width:48%; margin:0 0 5px 4%; padding:0; }
	ul.brand-name-list > li:nth-child(8n+1), 
	ul.brand-name-list > li:nth-child(4n+1), 
	ul.brand-name-list > li:nth-child(3n+1) { margin-left:4%; }
	ul.brand-name-list > li:nth-child(2n+1) { margin-left:0; }
	
	ul.stephead { padding: 0; margin: 0; list-style: none; z-index: 2; position:relative; top: 0px;}
	ul.stephead li { width: 100%; margin:0 0 10px 0; padding:0 0 0 30px; background:url(../images/stepnormal.png) 0 0 no-repeat; font-size: 16px; }
	ul.stephead li.active { background:url(../images/stepactive.png) 0 0 no-repeat; }
	ul.stephead li.completed { background:url(../images/stepcompleted.png) 0 0 no-repeat; }
	.multistepform-holder {  margin-top: 10px; }	
	
	ul.product-list > li{ margin-left: 0%; width:100%; }
	ul.product-list > li:nth-child(3n+1) { margin-left:0%; }
	ul.product-list > li:nth-child(2n+1) { margin-left:0; }
	
	ul.imagedisplay.gridview li { width: 48%; margin: 2px 0 2px 4%; border: 0px; }
	ul.imagedisplay.gridview li:nth-child(4n+1) { margin-left:4%; }
	ul.imagedisplay.gridview li:nth-child(3n+1) { margin-left:4%; }
	ul.imagedisplay.gridview li:nth-child(2n+1) { margin-left:0; }
	
	.slide-boatinfo-left { float: none; width: 100%; }
	.slide-boatinfo-right { float: none; width: 100%; }
	
	ul.boxcol4 > li {  width: 100%; margin-left: 0; }
	ul.boxcol4 > li:nth-child(5n+1), 
	ul.boxcol4 > li:nth-child(4n+1), 
	ul.boxcol4 > li:nth-child(3n+1) { margin-left:0; }
	ul.boxcol4 > li:nth-child(2n+1) { margin-left:0; }
	
	.model-button ul li{margin:10px 0 0 0; width:100%; text-align: center; }
	.model-button ul li:nth-child(1) { margin-top:0; }
	
	.model_slider_itune .fccover {
		max-width: 300px;
	}
	
	.customboattabcontent .labeltitle { display:block; width: 100%; }
	.customboattabcontent .labelvalue { display:block; width: 100%; padding-left: 0; margin-top: 5px; }
	
	.wow-left {
		float: none;
		width: 100%;
	}
	
	.wow-right {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.signin-register-link{margin-right:35px;}
	.icontop:before {
		width: 100%;
		height: 32px;		
	}
	
	.worldwidesearch ul > li { width: 100%; margin-left: 0; }
	.worldwidesearch ul > li:nth-child(5n+1),
	.worldwidesearch ul > li:nth-child(3n+1){ margin-left: 0; }
	.worldwidesearch ul > li:nth-child(2n+1) { margin-left: 0; }
	
	.divrow3 .uimg { float: left; width: 10%; padding: 1% 1%; margin: 0;}
    .divrow3 .txtcon { float: left; width: 50%; padding: 1% 1%;}
    .divrow3 .options { float: right; width: 28%; padding: 1% 1%; text-align: right;}
	
	.divrow4 .uimg { float: left; width: 20%; padding: 1% 1%; margin: 0;}
    .divrow4 .txtcon { float: left; width: 40%; padding: 1% 1%;}
    .divrow4 .options { float: right; width: 28%; padding: 1% 1%; text-align: right;}

    /*.specifications-row dl{margin-bottom:10px;}
    .specifications-row dt{width:100%;}
    .specifications-row dd{margin:0;}*/

    .login-box{width:350px; padding:0;}
    ul.product-list-big li{float:left; margin:0 40px 15px 25px; padding:0; background:none; width:84%;}

    .headsearch { width: 50%; margin-top: 6%; }
	
	.singleblock_box .column1 { float:left; width:100%; }
	.singleblock_box .column2 { float:left; width:100%; }

    ul.form li.left{float:left; width:100%;}
    ul.form li.right{float:left; width:100%;}
	ul.form li.manageright {display: none;}
	
	ul.form .input2{width:89%; }
    .headsearch { height: 200px; }
	
	.uploadleft { float: left; width: 100%; margin-bottom: 10px; }
	.uploadright { float: right; width: 100%; }

	.profile-main .mainleft { width: 100%; text-align:center; }
	.profile-main .mainright { width: 100%; float: left; margin-top: 20px; }	
		
	ul.ourteam-list.listview > li{ margin-left: 0%; width:100%; }
	ul.ourteam-list.listview > li:nth-child(5n+1), 
	ul.ourteam-list.listview > li:nth-child(4n+1), 
	ul.ourteam-list.listview > li:nth-child(3n+1), 
	ul.ourteam-list.listview > li:nth-child(2n+1) { margin-left:0; clear: both; }
	.manageheight { height: 0px; }
		
	ul.buysellcontact > li{ display: block; width: 100%; margin:10px 0 0 0; }
	ul.buysellcontact > li:nth-child(1){ margin-top: 0; }
	.homesection6 a.button { padding: 10px; min-width: 200px; max-width: 320px; }
	
	.fcajaxloadedcontent ul.filtersection-list li{ width: 48%; margin:0 0 0 4%; }
	.fcajaxloadedcontent ul.filtersection-list li:nth-child(3n+1) { margin-left: 4%; }
	.fcajaxloadedcontent ul.filtersection-list li:nth-child(2n+1) { margin-left: 0; }
	
	.aboutsection1 ul > li { width: 100%; border-top: 1px solid #b4b4b4; border-left: 0; }
	.aboutsection1 ul > li:nth-child(2) { border-top: 1px solid #b4b4b4; }
	
	.mobile-search-container-in ul > li.left{width:100%; float:none;}
	.mobile-search-container-in ul > li.right{width:100%; float:none;}
}

@media screen and (max-width: 454px) {	
	.after-login ul { width:160px; }	
	
	ul.product-list.homefeatured { margin: 0; width: 100%; }
	ul.product-list.homefeatured li{ width:100%; }
	
	.text_area .leftimage {  width: 90%; margin-right: 10%; }
	.text_area .rightcontent {  width: 100%; padding-top: 20px; }
	
	ul.locationgallery li { margin: 0 0 5px 0; width: 100%; }
	ul.locationgallery li:nth-child(4n+1) { margin-left:0; }
	ul.locationgallery li:nth-child(2n+1) { margin-left:0; }
	
	ul.brandlistboximg > li{ width:100%; }
	
	a.joinmaillist { display: block; margin: 20px 0 0 0; }
	.homesectioninsta ul li{ width:50%; }
}

@media screen and (max-width: 430px) {
	ul.formcol li { width: 100%; margin-left: 0; }
	ul.formcol li:nth-child(4n+1), ul.formcol li:nth-child(3n+1), ul.formcol li:nth-child(2n+1) { margin-left: 0; clear: both; }
	
	ul.catmake-list > li{ width:49%; margin:0 0 10px 2%; }
	ul.catmake-list > li:nth-child(3n+1) { margin-left:2%; }
	ul.catmake-list > li:nth-child(2n+1) { margin-left:0; }
	
	ul.newsletterformhome li:nth-child(1) { width: 60%; }
	ul.newsletterformhome li:nth-child(2) { width: 40%; }
}

@media screen and (max-width: 370px) {
	.after-login-extra{display: none;}
    .login-box{width:250px; padding:0;}
    
    .divrow3 .uimg { float: left; width: 10%; padding: 1% 1%; margin: 0;}
    .divrow3 .txtcon { float: left; width: 45%; padding: 1% 1%;}
    .divrow3 .options { float: right; width: 33%; padding: 1% 1%; text-align: right;}
	
	.divrow4 .uimg { float: left; width: 15%; padding: 1% 1%; margin: 0;}
    .divrow4 .txtcon { float: left; width: 40%; padding: 1% 1%;}
    .divrow4 .options { float: right; width: 33%; padding: 1% 1%; text-align: right;}

    .headsearch { width: 70%; margin-top: 8%; }
    .suggestsearch { width: 60%; height: 180px; }
	
	ul.offerboatlist li { width: 100%; margin-left: 0; }
	ul.offerboatlist li:nth-child(4n+1) { margin-left:0; }
	ul.offerboatlist li:nth-child(2n+1) { margin-left:0; }
	
	.fcajaxloadedcontent ul.filtersection-list li{ width: 100%; margin:0; }
	.fcajaxloadedcontent ul.filtersection-list li:nth-child(3n+1) { margin-left: 0; }
	.fcajaxloadedcontent ul.filtersection-list li:nth-child(2n+1) { margin-left: 0; }
}

@media screen and (max-width: 340px) {
	ul.form .input2{width:88%; }
    .dashboard-main ul li.left{float:left; width:48%;}
    .dashboard-main ul li.right{float:right; width:48%;}
	ul.logo-list li{ width: 30.5%; }
}

/** 7-12-18 *********/

@media screen and (max-width: 685px) {
	/*.header-search-show-hide ol {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}*/
	
	/*.header-search-show-hide ol li {
		width: 48%;
		margin: 5px 0 5px 4%;
	}
	.header-search-show-hide ol li:nth-child(4n+1){margin-left:4%;}
	.header-search-show-hide ol li:nth-child(2n+1){margin-left:0;}
	*/
	
	.header-search-show-hide ol {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;	
	}

	.header-search-button {
		z-index: 1005;
	}
	.header-search-show-hide {
		z-index: 1004;
	}
	
	.header_left { 
		position: absolute;
	}
	.header-login-button {
		position: absolute;
	}
	.header-search-button {
		position: absolute;
	}
	.topmenu-btn {
	  position: absolute;
	}
	.topmenu{
		position:relative!important;
		padding-bottom: 0!important;
		padding-top: 0!important;
	}
	.topmenu:before{
		content:"";
		display:block;
		height:80px;
	}
	/*.header-search-button-link.active {	
		position: fixed;
		z-index: 1001;
		top: 0;
		right: 0;
	}*/
	/*.header-search-button-link.active:after {	
		content: '\f00d';
		position: fixed;
		z-index: 1002;
		right: 36px;
		top: 28px;		
		left:auto;
		margin-left: auto;
		margin-top: 0;
	}*/
}

@media screen and (max-width: 576px) {	
	.header-search-show-hide-left {
		padding-top: 15px;
	}
	
	.header-search-show-hide-right {
		padding-top: 15px;
	}

	.header-login-button {
		width: 48px;
		right: 48px;
	}
	
	.header-search-button {
		width: 48px;
		right:0;
	}		
	.topmenu-btn {
	  background-color: #0a1b40;	  
	  top: 25px;
	  right: 100px;
	}	
	.header_left { 
		width: 170px;
		top: 27px;
	}
	.header-search-show-hide-left {
		width: 45%;
		padding: 50px 0 15px 5%;
	}	
	.header-search-show-hide-right {
		width: 45%;
		float:left;
		padding: 50px 0 15px 5%;
	}	
	.header-search-button-link.active:after {	
		right: 20px;
	}
}