.main-slider .slick-slide,
.main-slider .slick-slide::before, 
.main-slider .textmessage {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-slider .slick-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slider {
  position: relative;
  width: 100%;
  height: 45vw;
  min-height: 8vw;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
}

.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.main-slider .slick-slide {
  position: relative;
  height: 45vw;
}

.main-slider .slick-slide::before {
  background-color: #000;
  opacity: 0;
  z-index: 1;
}

.main-slider .slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-slider .slick-slide iframe {
  position: relative;
  pointer-events: none;
}

.main-slider .slick-slide figure {
  position: relative;
  height: 100%;
  padding:0;
  margin:0;
}

.main-slider .slick-slide .slide-image {
  opacity: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.8s ease;
}

.main-slider .slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.main-slider .slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
.main-slider .slick-slide.slick-active .loading {display: none; left: -1000px;}

.main-slider .slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}

.main-slider .slick-slide.slick-active {
  z-index: 1;
}

.main-slider .slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}

.main-slider .textmessage {
  opacity: 0;
  z-index: 1;
}

.main-slider .slick-slide.slick-active .textmessage {
  opacity: 1;
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}


.main-slider .slick-dots {
	position:absolute;
	text-align:center; 
	margin: 0 auto; 
	padding: 0;
	
	right: 30px;
	top: 50%;  
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: auto;
	line-height: 0;
}

.main-slider .slick-dots li {
  display: block;
  vertical-align: top;
  margin: 3px 0;
}

.main-slider .slick-dots li button {  
  	width: 15px;
	height: 15px;
	background-color:#fff;
	display: block;
	-webkit-backface-visibility: visible;
	transition: all 0.3s ease;
	
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%;
	border:2px solid #fff;
	cursor: pointer;
}

.main-slider .slick-dots li button:focus {
  outline: none;
  border: 2px solid #fff;
}

.main-slider .slick-dots li button:hover {
  opacity: 1;
  border: 2px solid #fff;
}

.main-slider .slick-dots li.slick-active button {
	background-color: #2bbed3;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

/*------Custom Css------------------*/
.normalslider { position: relative; background-color: #cacac8; }

/*Text / Button*/
.normalslider .textmessage { padding: 0; width: auto; min-width: 350px; max-width: 740px; position:absolute; color:#fff; z-index:4; font-weight: 600; /*background-color: rgba(0,0,0,0.3);*/ }
.normalslider .buttonmessage { padding: 0; width: auto; min-width: 350px; max-width: 520px; position:absolute; color:#fff; z-index:4; font-weight: 600;  }
.normalslider .textmessage.transparentbgcolor { background-color: rgba(40,59,98,0.5); min-width: auto; }

.normalslider .textmessage.topleft,
.normalslider .buttonmessage.topleft{ text-align:left; left: 5%; top: 10%;}
.normalslider .textmessage.topcenter,
.normalslider .buttonmessage.topcenter{ text-align:center; top: 10%; 
	left: 50%;  
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}
.normalslider .textmessage.topright,
.normalslider .buttonmessage.topright { text-align:right; right: 5%; top:155px;}

.normalslider .textmessage.middleleft,
.normalslider .buttonmessage.middleleft { text-align:left; left: 5%; 
	top: 50%;  
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);		
}
.normalslider .textmessage.middlecenter,
.normalslider .buttonmessage.middlecenter { text-align:center; 
	top: 50%;
	left: 50%;  
	
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);  
	transform: translate(-50%, -50%);
}
.normalslider .textmessage.middleright,
.normalslider .buttonmessage.middleright { text-align:right; right: 5%;
	top: 50%;  
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);		
}

.normalslider .textmessage.bottomleft,
.normalslider .buttonmessage.bottomleft { text-align:left; left: 5%; bottom: 10%;}
.normalslider .textmessage.bottomcenter,
.normalslider .buttonmessage.bottomcenter { text-align:center; bottom: 10%; 
	left: 50%;  
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
}
.normalslider .textmessage.bottomright,
.normalslider .buttonmessage.bottomright { text-align:right; right: 5%; bottom: 10%;}

.normalslider .textmessage_con { padding: 0; }
.normalslider .textmessage h2 { margin:0; font-size: 40px; text-transform: capitalize; font-weight: 400; color:#fff; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.59);}
.normalslider .textmessage h2 a { color:#192e4f; }
.normalslider .textmessage p { margin: 0; font-size: 30px; text-transform: uppercase; }

.sliderdetailsbutton { margin: 15px 0 10px 0; width: 100%; display: block; clear: both; }
.sliderdetailsbutton a{ background-color: #2bbed3; /*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.59);*/
	color:#fff !important;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 6px 16px;		
	position:relative;
	/*-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;*/
}
.sliderdetailsbutton a:after{ 
	content: "\f101";
	font-family: "Font Awesome 5 Free";
	margin-left:10px;
	font-weight: 900;
}
/*.sliderdetailsbutton a:before{background:none; border:1px solid #46c0a1; content:""; display:block; position:absolute; top:2px; left:2px; right:2px; bottom:2px; pointer-events:none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}*/
.sliderdetailsbutton a:hover { background-color: #0a1b40; color: #fff; }

.textmessage_con2 { padding: 5px; }

.buttonmessage_con { margin: 0; width: 100%; display: block; clear: both; }
.buttonmessage_con a { background-color: #0166ff; color:#fff; font-size: 16px; font-weight: 700; text-transform: uppercase; padding: 8px 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.buttonmessage_con a:after{ 
	content: "\f054";
	font-family: FontAwesome;
	margin-left:6px;
	color: #fff;	
}
.buttonmessage_con a:hover { background-color: #00263a; color: #fff; }

.sliderphone { color: #fff; display: block; margin-top: 10px; }
.sliderphone:before{ content:"\f10b"; font-family:FontAwesome; margin-right:10px; font-size:25px; color:#fff; font-weight:normal; vertical-align:middle;}

/*end*/

/*slider scroll*/
.fcfirst-section{ position: absolute; left: 0; right: 0; bottom:20%; width: auto; max-width: 500px; margin: 0 auto; z-index:2; }
.fcimage1{ text-align:center; margin:0; padding: 0; }
.fcimage1 h2 {margin:0; font-size: 30px; text-transform: uppercase; font-weight: 500; color:#fff; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.59);}
.fcscroll1{ text-align:center;}
.fcscroll1 a{ color:#fff; display:inline-block; z-index:2; position:relative; text-decoration:none; font-size: 30px; text-transform: uppercase; font-weight: 500; color:#fff; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.59);}
.fcscroll1 a:after{ position:absolute; font-family:fontAwesome; content:"\f078"; left:50%; bottom:-40px; margin-left:-10px;}
.fcscroll1 a:hover {color: #fff;}
/*end*/

/*---MP4 Video*/
/*Video display*/
.videoloading { background: url('../images/loading.gif') no-repeat center center; }
.mormalvideo { position:relative; clear:both; margin: 0; overflow: hidden; height: 100%; max-height: 500px; width: 100%; background-color: #1e355e; }
.mormalvideo video { width: 100%; height: auto; min-height: 100%; position: absolute; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px; margin: auto; }

.mormalvideo .container { z-index: 2; position:relative; }
.mormalvideo .btns{ position:absolute; right: 0; top:0; }
.mormalvideo .btns img{ width: 100%; }

@media (min-aspect-ratio: 16/9) {
  .mormalvideo video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .mormalvideo video {
    width: auto;
    height: 100%;
  }
}

.videooptions { position:absolute; bottom: 10px; text-align:center; margin: 0 auto; padding: 0; z-index: 99; 
	left: 50%;  
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: auto;
	min-width: 50px;
}
a.videoplaypause { text-align:left; text-indent: -9999px; display:inline-block; background: url('../images/icon-pause-play.png') no-repeat 0 0; width: 20px; height: 20px; }
a.videoplaypause.videopause { background: url('../images/icon-pause-play.png') no-repeat -20px 0; }

a.videosound { text-align:left; text-indent: -9999px; display:inline-block; background: url('../images/icon-mute-unmute.png') no-repeat -20px 0; width: 20px; height: 20px; }
a.videosound.videosoundmute { background: url('../images/icon-mute-unmute.png') no-repeat -0 0; }

@media screen and (max-width: 900px) {
	.fcfirst-section{ bottom:15%; }
	.fcimage1 h2 {font-size: 24px;}
	.fcscroll1 a{ font-size: 24px;}
	.fcscroll1 a:after{bottom:-20px;}
}

@media screen and (max-width: 800px) {	
	.normalslider .textmessage h2 { font-size: 28px; }
	.normalslider .textmessage p { font-size: 18px; }
}

@media screen and (max-width: 700px) {
	.fcfirst-section{ bottom:25%; }
	.normalslider .owl-nav .owl-prev .homeslider-prev:before,
	.normalslider .owl-nav .owl-next .homeslider-next:after{font-size: 25px;}
}

@media screen and (max-width: 600px) {
	.normalslider .textmessage h2 { font-size: 25px; }
	.normalslider .textmessage p { font-size: 16px; }
	.normalslider .textmessage { display: none; }
	.normalslider .pager{ min-width: 100%; }
	.normalslider .pager .camera_pag_ul li > span { width:12px; height:12px; background-size: 24px 12px; }
	.normalslider .pager .camera_pag_ul li > span:hover { background-position: -12px 0; background-size: 24px 12px; }
	.normalslider .pager .camera_pag_ul li.cameracurrent > span{ background-position: -12px 0; background-size: 24px 12px; }

	.fcimage1 h2 {font-size: 20px;}
	.fcscroll1 a{ font-size: 20px;}
}

@media screen and (max-width: 470px) {
	.normalslider .textmessage { min-width: 300px; }
	.normalslider .textmessage h2 { font-size: 16px; }
	.normalslider .textmessage p { font-size: 14px; }
	.sliderdetailsbutton { margin: 6px 0 4px 0; }
	.sliderdetailsbutton a{ padding: 3px 6px; font-size: 13px; }
	.slidersearch_responsive .button { padding: 3px 6px; font-size: 13px; }
	
	.buttonmessage_con a { font-size: 12px; padding: 3px 6px; }
	.sliderphone { margin-top: 3px;font-size:12px;  }
	.sliderphone:before{ margin-right:10px; font-size:18px; }
	
	.normalslider .owl-nav .owl-prev .homeslider-prev:before,
	.normalslider .owl-nav .owl-next .homeslider-next:after{font-size: 20px;}
}