<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType image/gif "access plus 120 minutes"
  ExpiresByType image/jpeg "access plus 120 minutes"
  ExpiresByType image/png "access plus 120 minutes"
  ExpiresByType text/css "access plus 60 minutes"
  ExpiresByType text/javascript "access plus 60 minutes"
  ExpiresByType application/x-javascript "access plus 60 minutes"
  ExpiresByType text/xml "access plus 60 minutes"
</IfModule>

#Begin gzip and deflate
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
	SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|ico|png)$ \ no-gzip dont-vary
	SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ \no-gzip dont-vary
	SetEnvIfNoCase Request_URI \.pdf$ no-gzip dont-vary

	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# 1 Month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
RewriteEngine On

#Analytics Permissions Redirect
RewriteCond %{HTTP_HOST} !^$
RewriteRule ^analytics.txt analytics.php [R=301,L]

SetEnvIfNoCase User-Agent '^libwww-perl*' block_bad_bots
Deny from env=block_bad_bots
RewriteBase /

RewriteCond %{HTTP_USER_AGENT} libwww-perl [OR]
RewriteCond %{QUERY_STRING} tool25 [OR]
RewriteCond %{QUERY_STRING} cmd.txt [OR]
RewriteCond %{QUERY_STRING} cmd.gif [OR]
RewriteCond %{QUERY_STRING} r57shell [OR]
RewriteCond %{QUERY_STRING} c99 [OR]
RewriteCond %{HTTP_USER_AGENT} almaden [OR]
RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
RewriteCond %{HTTP_USER_AGENT} ^BackWeb [OR]
RewriteCond %{HTTP_USER_AGENT} ^Bandit [OR]
RewriteCond %{HTTP_USER_AGENT} ^BatchFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR]
RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^Buddy [OR]
RewriteCond %{HTTP_USER_AGENT} ^bumblebee [OR]
RewriteCond %{HTTP_USER_AGENT} ^CherryPicker [OR]
RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR]
RewriteCond %{HTTP_USER_AGENT} ^CICC [OR]
RewriteCond %{HTTP_USER_AGENT} ^Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Copier [OR]
RewriteCond %{HTTP_USER_AGENT} ^Crescent [OR]
RewriteCond %{HTTP_USER_AGENT} ^Custo [OR]
RewriteCond %{HTTP_USER_AGENT} ^DA [OR]
RewriteCond %{HTTP_USER_AGENT} ^DIIbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo\ Pump [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Wonder [OR]
RewriteCond %{HTTP_USER_AGENT} ^Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^Drip [OR]
RewriteCond %{HTTP_USER_AGENT} ^DSurf15a [OR]
RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR]
RewriteCond %{HTTP_USER_AGENT} ^EasyDL/2.99 [OR]
RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} email [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailCollector [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR]
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR]
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR]
RewriteCond %{HTTP_USER_AGENT} ^FileHound [OR]
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
RewriteCond %{HTTP_USER_AGENT} FrontPage [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetSmart [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR]
RewriteCond %{HTTP_USER_AGENT} ^gigabaz [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go\!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR]
RewriteCond %{HTTP_USER_AGENT} ^gotit [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR]
RewriteCond %{HTTP_USER_AGENT} ^grub-client [OR]
RewriteCond %{HTTP_USER_AGENT} ^HMView [OR]
RewriteCond %{HTTP_USER_AGENT} ^HTTrack [OR]
RewriteCond %{HTTP_USER_AGENT} ^httpdown [OR]
RewriteCond %{HTTP_USER_AGENT} .*httrack.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^ia_archiver [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Indy*Library [OR]
RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR]
RewriteCond %{HTTP_USER_AGENT} ^InternetLinkagent [OR]
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^InternetSeer.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^Iria [OR]
RewriteCond %{HTTP_USER_AGENT} ^JBH*agent [OR]
RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR]
RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR]
RewriteCond %{HTTP_USER_AGENT} ^JustView [OR]
RewriteCond %{HTTP_USER_AGENT} ^larbin [OR]
RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^LexiBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^lftp [OR]
RewriteCond %{HTTP_USER_AGENT} ^Link*Sleuth [OR]
RewriteCond %{HTTP_USER_AGENT} ^likse [OR]
# RewriteCond %{HTTP_USER_AGENT} ^Link [OR]
RewriteCond %{HTTP_USER_AGENT} ^LinkWalker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mag-Net [OR]
RewriteCond %{HTTP_USER_AGENT} ^Magnet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^Memo [OR]
RewriteCond %{HTTP_USER_AGENT} ^Microsoft.URL [OR]
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mirror [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla.*Indy [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla.*NEWT [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mozilla*MSIECrawler [OR]
RewriteCond %{HTTP_USER_AGENT} ^MS\ FrontPage* [OR]
RewriteCond %{HTTP_USER_AGENT} ^MSFrontPage [OR]
RewriteCond %{HTTP_USER_AGENT} ^MSIECrawler [OR]
RewriteCond %{HTTP_USER_AGENT} ^MSProxy [OR]
RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR]
RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetMechanic [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^NICErsPRO [OR]
RewriteCond %{HTTP_USER_AGENT} ^Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR]
RewriteCond %{HTTP_USER_AGENT} ^Openfind [OR]
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR]
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR]
RewriteCond %{HTTP_USER_AGENT} ^Ping [OR]
RewriteCond %{HTTP_USER_AGENT} ^PingALink [OR]
RewriteCond %{HTTP_USER_AGENT} ^Pockey [OR]
RewriteCond %{HTTP_USER_AGENT} ^psbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^Pump [OR]
RewriteCond %{HTTP_USER_AGENT} ^QRVA [OR]
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^Reaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Recorder [OR]
RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Scooter [OR]
RewriteCond %{HTTP_USER_AGENT} ^Seeker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Siphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^sitecheck.internetseer.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR]
RewriteCond %{HTTP_USER_AGENT} ^SlySearch [OR]
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^Snake [OR]
RewriteCond %{HTTP_USER_AGENT} ^SpaceBison [OR]
RewriteCond %{HTTP_USER_AGENT} ^sproose [OR]
RewriteCond %{HTTP_USER_AGENT} ^Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^Szukacz [OR]
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR]
RewriteCond %{HTTP_USER_AGENT} ^URLSpiderPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^Vacuum [OR]
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR]
RewriteCond %{HTTP_USER_AGENT} ^[Ww]eb[Bb]andit [OR]
RewriteCond %{HTTP_USER_AGENT} ^webcollage [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebEMailExtrac.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebHook [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebMiner [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebMirror [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR]
RewriteCond %{HTTP_USER_AGENT} ^Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR]
RewriteCond %{HTTP_USER_AGENT} WebWhacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget [OR]
RewriteCond %{HTTP_USER_AGENT} ^Whacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^Widow [OR]
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR]
RewriteCond %{HTTP_USER_AGENT} ^x-Tractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus

RewriteRule ^.* - [F,L]
RewriteCond %{HTTP_REFERER} ^https://www.ngyachting.com$
RewriteRule !^https://[^/.]\.www.ngyachting.com.* - [F,L]

<Files ~ '^\.ht'>
Order allow,deny
Deny from all
Satisfy All
</Files>

<FilesMatch '\.(inc|tpl|h|ihtml|sql|ini|conf|class|bin|spd|theme|module|exe)$'>
deny from all
</FilesMatch>

RewriteRule ^index\.php$ - [L]
RewriteRule ^make/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&mfslug=$1 [L]
RewriteRule ^make/cobrokerage/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&mfslug=$1&owned=2 [L]
RewriteRule ^make/ourlistings/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&mfslug=$1&owned=1 [L]
RewriteRule ^model/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&modelname=$1 [L]
RewriteRule ^year/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&yearvl=$1 [L]
RewriteRule ^country/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&countryname=$1 [L]
RewriteRule ^type/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&typename=$1 [L]
RewriteRule ^type/cobrokerage/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&typename=$1&owned=2 [L]
RewriteRule ^type/ourlistings/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&typename=$1&owned=1 [L]
RewriteRule ^condition/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&conditionname=$1 [L]
RewriteRule ^state/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&statename=$1 [L]
RewriteRule ^search/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&keyterm=$1 [L]
RewriteRule ^category/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&categorynm=$1 [L]
RewriteRule ^make/([^/\.]+)/condition/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&mfslug=$1&conditionname=$2&owned=2&frm=1 [L]
RewriteRule ^category/([^/\.]+)/make/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&categorynm=$1&mfslug=$2&owned=2&frm=1&%{QUERY_STRING} [L]
RewriteRule ^brokerinventory/([^/\.]+)/embed/?$ index.php?templateseo=listboat&rawtemplate=1&brokercode=$1&nohead=1 [L]
RewriteRule ^savesearch/([^/\.]+)/?$ index.php?templateseo=listboat&rawtemplate=1&searchno=$1 [L]

RewriteRule ^yacht-sales/([^/\.]+)/([^/\.]+)/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2 [L]
RewriteRule ^yacht-sales/([^/\.]+)/([^/\.]+)/embed/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2&nohead=1 [L]
RewriteRule ^yacht-sales/([^/\.]+)/([^/\.]+)/slideshow/([^/\.]+)/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2&slideshowcode=$3&nohead=5 [L]
RewriteRule ^yacht-sales/([^/\.]+)/([^/\.]+)/campaign/([^/\.]+)/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2&campaigncode=$3&nohead=5 [L]

RewriteRule ^catamaran-sales/([^/\.]+)/([^/\.]+)/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2 [L]
RewriteRule ^catamaran-sales/([^/\.]+)/([^/\.]+)/embed/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2&nohead=1 [L]
RewriteRule ^catamaran-sales/([^/\.]+)/([^/\.]+)/slideshow/([^/\.]+)/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2&slideshowcode=$3&nohead=5 [L]
RewriteRule ^catamaran-sales/([^/\.]+)/([^/\.]+)/campaign/([^/\.]+)/?$ index.php?templateseo=yacht-details&boatslug=$1&lnum=$2&campaigncode=$3&nohead=5 [L]

RewriteRule ^boat/([^/\.]+)/?$ index.php?templateseo=yacht-details&lno=$1 [L]
RewriteRule ^boat/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?templateseo=yacht-details&y=$1&mf=$2&md=$3&lnum=$4 [L]
RewriteRule ^boat/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/embed/?$ index.php?templateseo=yacht-details&y=$1&mf=$2&md=$3&lnum=$4&nohead=1 [L]
RewriteRule ^boat/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/slideshow/([^/\.]+)/?$ index.php?templateseo=yacht-details&y=$1&mf=$2&md=$3&lnum=$4&slideshowcode=$5&nohead=5 [L]
RewriteRule ^boat/([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/campaign/([^/\.]+)/?$ index.php?templateseo=yacht-details&y=$1&mf=$2&md=$3&lnum=$4&campaigncode=$5&nohead=5 [L]
RewriteRule ^previewboat/([^/\.]+)/?$ index.php?templateseo=yacht-preview&lno=$1 [L]
RewriteRule ^make-boat-live/([^/\.]+)/?$ index.php?templateseo=make-boat-live&lno=$1 [L]
RewriteRule ^profile/([^/]+)/?$ index.php?templateseo=brokerprofile&unm=$1 [L]
RewriteRule ^brokerprofile/([^/]+)/?$ index.php?templateseo=brokerprofile&unm=$1&insidedashboard=1 [L]
RewriteRule ^soldboat/([^/\.]+)/?$ index.php?templateseo=soldboatbroker&unm=$1&boatstatus=3 [L]
RewriteRule ^brokerboat/([^/\.]+)/?$ index.php?templateseo=brokerboatlist&brokerslug=$1 [L]
RewriteRule ^companyprofile/([^/\.]+)/?$ index.php?templateseo=companyprofile&cnm=$1 [L]
RewriteRule ^companyinventory/([^/\.]+)/?$ index.php?templateseo=companyinventory&cnm=$1 [L]
RewriteRule ^companyinventory/([^/\.]+)/embed/?$ index.php?templateseo=listboat&rawtemplate=1&companycode=$1&nohead=1 [L]
RewriteRule ^manufacturerprofile/([^/\.]+)/?$ index.php?templateseo=manufacturerprofile&cnm=$1 [L]
RewriteRule ^model/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?templateseo=model-details&y=$1&mf=$2&md=$3 [L]
RewriteRule ^locationprofile/([^/\.]+)/?$ index.php?templateseo=locationprofile&locnm=$1 [L]
RewriteRule ^edit-boat/([^/\.]+)/?$ index.php?templateseo=add-yacht&lno=$1 [L]
RewriteRule ^edit-brokerlist/([^/\.]+)/?$ index.php?templateseo=add-broker&id=$1 [L]
RewriteRule ^edit-manager/([^/\.]+)/?$ index.php?templateseo=add-manager&id=$1 [L]
RewriteRule ^edit-locationadmin/([^/\.]+)/?$ index.php?templateseo=add-locationadmin&id=$1 [L]
RewriteRule ^edit-locationoffice/([^/\.]+)/?$ index.php?templateseo=add-office-location&id=$1 [L]
RewriteRule ^boat-image/([^/\.]+)/?$ index.php?templateseo=boat-image&lno=$1 [L]
RewriteRule ^boat-video/([^/\.]+)/?$ index.php?templateseo=boat-video&lno=$1 [L]
RewriteRule ^boat-attachment/([^/\.]+)/?$ index.php?templateseo=boat-attachment&lno=$1 [L]
RewriteRule ^announcement/([^/\.]+)/?$ index.php?templateseo=announcementdetails&slug=$1 [L]
RewriteRule ^blog/([^/\.]+)/?$ index.php?templateseo=blogdetails&slug=$1 [L]
RewriteRule ^blogcategory/([^/\.]+)/?$ index.php?templateseo=bloglist&slug=$1 [L]
RewriteRule ^blogtag/([^/\.]+)/?$ index.php?templateseo=bloglist&tagslug=$1 [L]
RewriteRule ^blogarchive/([^/\.]+)/([^/\.]+)/?$ index.php?templateseo=bloglist&byear=$1&bmonth=$2 [L]
RewriteRule ^resourceprofile/([^/\.]+)/?$ resourceprofile.php?id=$1 [L]
RewriteRule ^resourceslistings/([^/\.]+)/?$ resourcesbrokerage-boats.php?id=$1 [L]
RewriteRule ^resources/([^/\.]+)/?$ resources.php?typename=$1 [L]
RewriteRule ^resourceform/([^/\.]+)/([^/\.]+)/?$ resourceform.php?resourceid=$1&lno=$2 [L]
RewriteRule ^clientsearch/([^/\.]+)/?$ searches-public.php?unm=$1 [L]
RewriteRule ^clientfavorites/([^/\.]+)/?$ favorites-public.php?unm=$1 [L]
RewriteRule ^login(/)?$ index.php?templateseo=login [L]
RewriteRule ^register(/)?$ index.php?templateseo=add-user [L]
RewriteRule ^reset-password/([^/\.]+)/?$ index.php?templateseo=reset-password&cd=$1 [L]
RewriteRule ^editprofile(/)?$ index.php?templateseo=edit-user [L]
RewriteRule ^editcompanyprofile(/)?$ index.php?templateseo=edit-company [L]
RewriteRule ^dashboard(/)?$ index.php?templateseo=dashboard [L]
RewriteRule ^searches(/)?$ index.php?templateseo=searches [L]
RewriteRule ^favorites(/)?$ index.php?templateseo=favorites [L]
RewriteRule ^add-boat(/)?$ index.php?templateseo=add-yacht [L]
RewriteRule ^my-boatlist(/)?$ index.php?templateseo=my-yachtlist [L]
RewriteRule ^mostviewed(/)?$ index.php?templateseo=mostviewed [L]
RewriteRule ^mostleads(/)?$ index.php?templateseo=mostleads [L]
RewriteRule ^add-manager(/)?$ index.php?templateseo=add-manager [L]
RewriteRule ^managerlist(/)?$ index.php?templateseo=managerlist [L]
RewriteRule ^add-office-location(/)?$ index.php?templateseo=add-office-location [L]
RewriteRule ^office-locationlist(/)?$ index.php?templateseo=office-locationlist [L]
RewriteRule ^add-locationadmin(/)?$ index.php?templateseo=add-locationadmin [L]
RewriteRule ^locationadminlist(/)?$ index.php?templateseo=locationadminlist [L]
RewriteRule ^add-broker(/)?$ index.php?templateseo=add-broker [L]
RewriteRule ^my-brokerlist(/)?$ index.php?templateseo=my-brokerlist [L]
RewriteRule ^my-clientlist(/)?$ index.php?templateseo=my-clientlist [L]
RewriteRule ^announcement(/)?$ index.php?templateseo=announcement [L]
RewriteRule ^site-statistics(/)?$ index.php?templateseo=site-statistics [L]
RewriteRule ^select-broker(/)?$ index.php?templateseo=select-broker [L]
RewriteRule ^leads(/)?$ index.php?templateseo=leads [L]
RewriteRule ^my-inventory-feed(/)?$ index.php?templateseo=my-inventory-feed [L]
RewriteRule ^my-lead-reports(/)?$ index.php?templateseo=my-lead-reports [L]
RewriteRule ^sorry(/)?$ index.php?templateseo=sorry [L]
RewriteRule ^thankyou(/)?$ index.php?templateseo=thanks [L]
RewriteRule ^logout(/)?$ index.php?fcapi=logout [L]
RewriteRule ^compareboat/([^/\.]+)/?$ index.php?templateseo=compareboat&chosenboat=$1 [L]
RewriteRule ^print-inventory(/)?$ index.php?templateseo=print-inventory&popp=1&%{QUERY_STRING} [L]
RewriteRule ^print-inventory-broker(/)?$ index.php?templateseo=print-inventory-broker&popp=1 [L]
RewriteRule ^popsavesearch(/)?$ index.php?templateseo=savesearch&popp=1 [L]
RewriteRule ^pop-send-email-client(/)?$ index.php?templateseo=send-email-client&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-send-email-friend(/)?$ index.php?templateseo=send-email-friend&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-send-email-my-broker(/)?$ index.php?templateseo=send-email-my-broker&popp=1&%{QUERY_STRING} [L]
RewriteRule ^common-feedback(/)?$ index.php?templateseo=common-feedback&popp=1 [L]
RewriteRule ^company-broker-map(/)?$ index.php?templateseo=company-broker-map&popp=1&%{QUERY_STRING} [L]
RewriteRule ^contact-broker(/)?$ index.php?templateseo=contact-broker&popp=1&%{QUERY_STRING} [L]
RewriteRule ^contact-model(/)?$ index.php?templateseo=contact-model&popp=1&%{QUERY_STRING} [L]
RewriteRule ^contact-model-local(/)?$ index.php?templateseo=contact-model-local&popp=1&%{QUERY_STRING} [L]
RewriteRule ^contact-resource(/)?$ index.php?templateseo=contact-resource&popp=1&%{QUERY_STRING} [L]
RewriteRule ^emailsearch(/)?$ index.php?templateseo=emailsearch&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-login(/)?$ index.php?templateseo=login&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-yacht-stat(/)?$ index.php?templateseo=yacht-stat&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-trade-in-welcome(/)?$ index.php?templateseo=trade-in-welcome&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-talk-to-specialist(/)?$ index.php?templateseo=talk-to-specialist&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-ask-for-brochure(/)?$ index.php?templateseo=ask-for-brochure&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-join-our-list(/)?$ index.php?templateseo=join-our-list&popp=1 [L]
RewriteRule ^pop-lead-checkout(/)?$ index.php?templateseo=lead-checkout&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-increase-yacht-value(/)?$ index.php?templateseo=increase-yacht-value&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-boat-show-registration(/)?$ index.php?templateseo=boat-show-registration&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-open-yacht-days(/)?$ index.php?templateseo=open-yacht-days&popp=1&%{QUERY_STRING} [L]
RewriteRule ^pop-chartering-your-yacht(/)?$ index.php?templateseo=chartering-your-yacht&popp=1&%{QUERY_STRING} [L]

RewriteRule ^popsorry(/)?$ index.php?templateseo=sorry&popp=1 [L]
RewriteRule ^popthankyou(/)?$ index.php?templateseo=thanks&popp=1 [L]
RewriteRule ^mkt-campaign-creator(/)?$ index.php?templateseo=mkt-campaign-creator [L]
RewriteRule ^mkt-custom-slideshow(/)?$ index.php?templateseo=mkt-custom-slideshow [L]
RewriteRule ^customboatslideshow/([^/\.]+)/?$ index.php?templateseo=customboatslideshow&slideshowcode=$1&nohead=3 [L]
RewriteRule ^boat-watcher-broker(/)?$ index.php?templateseo=boat-watcher-broker [L]
RewriteRule ^boatmodel/([^/\.]+)/?$ index.php?templateseo=boatmodeldetails&slug=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)(/?)$ index.php?pageslug=$1&%{QUERY_STRING} [L]

ErrorDocument 404 /
ErrorDocument 403 /index.php?templateseo=403
ErrorDocument 302 /index.php?templateseo=302

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*index\.php\ HTTP/
RewriteRule ^(([^/]+/)*)index\.php$ https://www.ngyachting.com/$1 [R=301,L]
